@using Nop.Ithoot.Plugin.Order.OneClick.Models;
@model OrderOneClickModel

<style>
    .one-click-order {
        display: flex !important;
    }


        .one-click-order .button-2,
        #oneClickOrderDialog .button-2 {
            font-size: 16px !important;
            padding: 13px !important;
            width: auto !important;
        }

    #oneClickOrderDialog .button-1 {
        height: 43px;
        border: 0;
        background-color: #71c5ee;
        padding: 0 24px;
        font-size: 15px;
        color: #feffff;
        text-transform: uppercase;
    }


    #one-click-button {
        margin-bottom: 16px;
    }

    #oneClickOrderDialog {
        display: none;
    }

        #oneClickOrderDialog .buttons-row {
            display: flex;
            justify-content: space-between;
            margin-top: 16px;
        }

        #oneClickOrderDialog .form-group.row .label-wrapper {
            font-size: 16px;
            margin-bottom: 6px;
        }

        #oneClickOrderDialog .form-group.row input {
            width: 100%;
        }
</style>
<script asp-location="Footer">
    $(document).ready(function () {
        $('#one-click-button').on('click', function() {
            $('#oneClickOrderDialog').dialog();
        });

        $('#one-click-button-ok').on('click', function() {
            $.ajax({
            cache: false,
            url: '@Url.ActionLink("Order", "OrderOneClick")',
            type: "POST",
            data: {
                phone:  $('#oneClickOrderDialog input[type="text"]').val(),
                productId: $('#productId').val(),
                productSeName: $('#productSeName').val(),
                productSize: $(".attributes").find("input[type='radio']:checked").next('label').text()
            },
            success: function(response){
                $('#oneClickOrderDialog').dialog('close');
                displayPopupNotification(response, 'success', true);
            },
        });

        });
    })
</script>
<div class="one-click-order">
    <button type="button" name="oneClickOrder" id="one-click-button" class="button-2 one-click-button">
        @T("Plugins.Order.OneClick.ButtonName")
    </button>
    <input id="productId" type="hidden" value="@Model.ProductId" />
    <input id="productSeName" type="hidden" value="@Model.ProductSeName" />
    <div id="oneClickOrderDialog" title="@T("Plugins.Order.OneClick.ButtonName")">
        <div class="form-group row">
            <nop-label asp-for="Phone" />
            <nop-editor asp-for="Phone" />
        </div>

        <div class="buttons-row">
            <button type="button" name="ok" id="one-click-button-ok" class="button-1">
                @T("Plugins.Order.OneClick.OrderButtonName")
            </button>
            <button type="button" name="cancel" class="button-2" onclick="$('#oneClickOrderDialog').dialog('close')">
                @T("Plugins.Order.OneClick.CancelButtonName")
            </button>
        </div>
    </div>
</div>
