@model TopMenuModel.CategoryLineModel
@{
    var subCategories = Model.Category.SubCategories.Where(x => x.IncludeInTopMenu).ToList();
    var sublistClass = subCategories.Count > 0 ? "sublist-toggle" : "";
}
<li class="mobile-nav--item js-mobile-nav-item @sublistClass">
    <a href="@Url.RouteUrl("Category", new { SeName = Model.Category.SeName })">
        @Model.Category.Name
        @if (Model.Category.NumberOfProducts.HasValue)
        {
            <text> </text>

            @T("Categories.TotalProducts", Model.Category.NumberOfProducts.Value)
        }
    </a>
    @{
        var levelClass = "";
        if (Model.Level == 0)
        {
            levelClass = "first-level";
        }
        if (subCategories.Count > 0)
        {
            <div class="nav--dropdown sublist">
                <div class="nav--dropdown-inner">
                    <nav>
                        <div class="nav--child-item @levelClass">

                            @foreach (var subCategory in subCategories)
                            {
                                var categoryLineModel = new TopMenuModel.CategoryLineModel
                    {
                        Category = subCategory,
                        Level = Model.Level + 1,
                        ResponsiveMobileMenu = Model.ResponsiveMobileMenu
                    };
                                @await Html.PartialAsync("_CategoryLine.TopMenu", categoryLineModel)
                            }
                        </div>
                    </nav>
                </div>
            </div>
        }
    }
</li>