@model FoxNetSoft.Plugin.Payments.LiqPay.Models.ConfigureModel
@{
    Layout = "_ConfigurePlugin";
}
@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="LiqPayPaymentSettings" asp-action="Configure" method="post">
    <script>
        $(document).ready(function () {
            $("#showDebugInfo").click(toggleshowDebugInfo);
            toggleshowDebugInfo();
        });

        function toggleshowDebugInfo() {
            if ($('#showDebugInfo').is(':checked')) {
                $('#pnlclearlogfile, #pnlgetlogfile').showElement();
            }
            else {
                $('#pnlclearlogfile, #pnlgetlogfile').hideElement();
            }
        }
    </script>
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-body">
                <p>
                    @if (Model.IsRegisted == true)
                            {
                            @T("FoxNetSoft.Plugin.Payments.LiqPay.IsRegisted")
                            }
                            else
                            {
                            @T("FoxNetSoft.Plugin.Payments.LiqPay.IsNoRegisted")
                            <br />
                            <a href="https://www.foxnetsoft.com/LiqPaypayment" target="blank">Buy It Now</a>
                            }
                </p>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Public_Key_OverrideForStore" asp-input="Public_Key" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Public_Key" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Public_Key" />
                        <span asp-validation-for="Public_Key"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Private_Key_OverrideForStore" asp-input="Private_Key" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Private_Key" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Private_Key" />
                        <span asp-validation-for="Private_Key"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Locale_OverrideForStore" asp-input="Locale" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Locale" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="Locale" asp-items="Model.LocaleValues" />
                        <span asp-validation-for="Locale"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="IPNHandler" />
                    </div>
                    <div class="col-md-9">
                        <input class="form-control text-box single-line" id="IPNHandler" name="IPNHandler" value="@Model.IPNHandler" type="text" readonly="readonly">
                        <span asp-validation-for="IPNHandler"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="ReturnUrl" />
                    </div>
                    <div class="col-md-9">
                        <input class="form-control text-box single-line" id="ReturnUrl" name="ReturnUrl" value="@Model.ReturnUrl" type="text" readonly="readonly">
                        <span asp-validation-for="ReturnUrl"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFeePercentage_OverrideForStore" asp-input="AdditionalFeePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFeePercentage" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFeePercentage" />
                        <span asp-validation-for="AdditionalFeePercentage"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFee_OverrideForStore" asp-input="AdditionalFee" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFee" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFee" />
                        <span asp-validation-for="AdditionalFee"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="isTestMode_OverrideForStore" asp-input="isTestMode" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="isTestMode" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="isTestMode" />
                        <span asp-validation-for="isTestMode"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="SkipPaymentInfo_OverrideForStore" asp-input="SkipPaymentInfo" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="SkipPaymentInfo" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SkipPaymentInfo" />
                        <span asp-validation-for="SkipPaymentInfo"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-default">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="showDebugInfo" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="showDebugInfo" />
                        <span asp-validation-for="showDebugInfo"></span>
                        <div id="pnlclearlogfile">
                            <a href="@Url.Action("ClearLogFile")" class="k-button">@T("Admin.FoxNetSoft.Plugin.Payments.LiqPay.ClearLogFile")</a>
                        </div>
                        <div id="pnlgetlogfile">
                            <a href="@Url.Action("GetLogFile")" class="k-button">@T("Admin.FoxNetSoft.Plugin.Payments.LiqPay.GetLogFile")</a>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="StoreUrl" />
                    </div>
                    <div class="col-md-9">
                        <input class="form-control text-box single-line" id="StoreUrl" name="StoreUrl" value="@Model.StoreUrl" type="text" readonly="readonly">
                        <span asp-validation-for="StoreUrl"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="SerialNumber" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SerialNumber" />
                        <span asp-validation-for="SerialNumber"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
                <p>
                    Installation and configuring plug-in at Youtube <a href="http://www.youtube.com/foxnetsoft" target="blank">www.youtube.com/foxnetsoft</a>
                    <br />
                    Installation and configuring plug-in at our site <a href="https://www.foxnetsoft.com/documentation-nopliqpay" target="blank">https://www.foxnetsoft.com/documentation-nopliqpay</a>
                    <br />
                    <a href="https://www.foxnetsoft.com" target="blank">www.foxnetsoft.com</a>
                </p>
            </div>
        </div>
    </div>
</form>
